*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 10px;
    background-color: #7678ed;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom:0px;
}

/*NAVIGATION*/
.menu{
    height: 10em;
    background-color: #7678ed;
    padding: 10px 15px;
    width: 100%;
}

.menuPic{
    font-size: 50px;
    
}

nav{
    position: absolute;
    background-color: #7678ed;
    top: 6em;
    justify-self: end;
    width: 100%;
}

nav ul{
    list-style-type: none;
    max-height: 0em;
    overflow: hidden;
    transform: max-height 0.5s;
}

nav ul li a{
    display: block;
    padding: 0.75em 1.75em;
    text-decoration: none;
    color: black;
    background-color: #f7b801;
}

nav ul li a:hover{
    background-color: #f18701;
}


/* .navbar{
    /* display: grid;
    justify-content: end;
    align-items: start;
    display: none;
}

.nav-links{
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
}

*/
button{
    background-color: #f7b801;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #f18701;
} 

#checkbox{
    display: none;
}

#checkbox:checked~ nav ul{
    max-height: 110em;
}


@media(min-width: 769px){
    .menuPic{
        display: none;
    }
    nav{
        position: relative;
        top: -1em;
    }
    nav ul{
        max-height: 5em;
        padding: 15px 0;
    }
    nav ul li{
        display: inline-block;
        padding-left: 1em;
    }
}

/*ABOUT ME*/
.aboutMe{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

h2{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.aboutMeDescrip{
    margin-top: 1000px;
    padding: 10px;
    margin: 10px;
}

/*Projects*/
#projectHeading{
    text-align: center;
    font-size: 40px;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.projectImage{
    height: auto;
    width: 100%;
    padding: 10px;
}

.moreContainer{
    grid-column: span 3;
    padding: 20px;
}

#more{
    display: block;
    width: 100%;
}





/*Footer*/
footer{
    display: flex;
    padding: 1%;
    justify-content:center;
}

.socials{
    list-style-type: none;
    padding: 0%;
}

.socials li{
    display: inline-block;
    margin-left: 10px;
}

.socials img{
    width: 50px;
}

.socials img:hover{
    opacity: 0.5;
}

#email{
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .projects{
        grid-template-columns: 1fr;
    }

    .aboutMe{
        grid-template-columns: 1fr;
        
    }

    #myPicture{
        display: grid;
    place-items: center; 
    height: 10%; 
    }

    #projectHeading{
        margin-top: 20px;
    }
    hr{
        margin-top: 20px;
    }


}